.content-content {
    height: 395px;
    /*background-color: rgb(66, 67, 70);*/
    margin-top: 12px;
    padding: 30px;
    position: relative;
    height: 100vh;
    overflow:hidden ;
    display: block;
    size: 96px;
  
  }
  .content-content::after{
      content: "";
      background-image: url("/img/dosa.jpg");
      position: absolute;
      width:100%;
      height:inherit;
      opacity: 0.2;
      top: 0;
      border-radius: 20px;
      z-index: -1;
  }
  